.dataGridWidget {

}

.dataGridFirstColumn {

}

.dataGridLastColumn {

}

.dataGridFooter {
    border-top: 2px solid #6f7277;
    padding: 3px 15px;
    text-align: left;
    color: #4b4a4a;
    overflow: hidden;
    white-space: nowrap;
}

.dataGridHeader {
    border-bottom: 1px solid #808080;
    text-align: left;
    color: #808080;
    font-size: 12px;
    text-shadow: none;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;

}

.dataGridCell {
    padding-bottom: 7px;
    /*padding: 2px 15px;*/
    overflow: hidden;
}

.dataGridFirstColumnFooter {

}

.dataGridFirstColumnHeader {

}

.dataGridLastColumnFooter {

}

.dataGridLastColumnHeader {

}

.dataGridSortableHeader {
    cursor: pointer;
    cursor: hand;
}

.dataGridSortableHeader:hover {
    color: #6c6b6b;
}

.dataGridSortedHeaderAscending {

}


.dataGridSortedHeaderDescending {

}

.dataGridEvenRow {
    background: #ffffff;
    border: none;;
    border-bottom: #f1f1f1 1px solid;
    color: #000000;
    padding-top: 2px;
    padding-bottom: 4px;
}

.dataGridOddRow {
    background: #ffffff;
    border: none;
    border-bottom: #f1f1f1 1px solid;
    color: #000000;
    padding-top: 2px;
    padding-bottom: 4px;
}

.dataGridHoveredRow {
    background: #eee;
    background: #eaeaea;
    border: none;;
    border-bottom: #f1f1f1 1px solid;
}

.dataGridKeyboardSelectedRow {
    background: rgba(215, 230, 250, 1.0);
    color: #ffffff;
    border: none;
}

.dataGridSelectedRow {
    background: rgba(215, 230, 250, 1.0);
    color: white;
    height: auto;
    overflow: auto;
    color: #ffffff;
    border: none;
}




.dataGridEvenRowCell {
    /*border: 2px solid #ffffff;*/
    border: none;
    border-bottom: #f1f1f1 1px solid;
    padding-top: 7px;
    padding-bottom: 7px;
    /*background: #ffffff;*/
}

.dataGridOddRowCell {
    /*border: 2px solid #f3f7fb;*/
    /*background: #ffffff;*/
    border: none;
    border-bottom: #f1f1f1 1px solid;
    padding-top: 7px;
    padding-bottom: 7px;
}


.dataGridHoveredRowCell {
    /*border: 2px solid #eee;*/
    border: none;;
    border-bottom: #f1f1f1 1px solid;
    padding-top: 7px;
    padding-bottom: 7px;
}



.dataGridKeyboardSelectedRowCell {
    /*border: 2px solid #628cd5;*/
    border: none;;
    border-bottom: #f1f1f1 1px solid;
    background: rgba(215, 230, 250, 1.0);
    color: #000000;
    padding-top: 7px;
    padding-bottom: 7px;
}


.dataGridSelectedRowCell {
    /*border: 2px solid #628cd5;*/
    border: none;
    background: rgba(215, 230, 250, 1.0);
    color: #000000;
    border-bottom: #f1f1f1 1px solid;
    padding-top: 7px;
    padding-bottom: 7px;
}

    /**
    * The keyboard selected cell is visible over selection.
    */
.dataGridKeyboardSelectedCell {
    /*border: 2px solid #d7dde8;*/
    border: none;
    background: rgba(215, 230, 250, 1.0);
    color: #000000;
    border-bottom: #f1f1f1 1px solid;
    padding-top: 7px;
    padding-bottom: 7px;
}
