@external .wp-*;

@url protegeBlenderUrl protegeBlender;

.wp-login {

}

.wp-login__logo {
    width: 200px;
    height: 160px;
    background-image: protegeBlenderUrl;
    background-repeat: no-repeat;
    background-size: contain;
}
