@external web-protege-laf;
@external gwt-TabLayoutPanelTab;
@external gwt-TabLayoutPanelTab-selected;
@external blockquote;
@url classIconUrl svgClassIcon;
@url datatypeIconUrl svgDatatypeIcon;
@url propertyIconUrl svgPropertyIcon;
@url objectPropertyIconUrl svgObjectPropertyIcon;
@url dataPropertyIconUrl svgDataPropertyIcon;
@url annotationPropertyIconUrl svgAnnotationPropertyIcon;
@url individualIconUrl svgIndividualIcon;
@url linkIconUrl svgLinkIcon;
@url literalIconUrl svgLiteralIcon;
@url numberIconUrl svgNumberIcon;
@url commentIconUrl svgCommentSmallFilledIcon;

.webProtegeLaf {

}


.gwt-TabLayoutPanelTab {
    background-color: #c0c0c0;
    padding: 5px;
    margin: 3px;
}

.gwt-TabLayoutPanelTab-selected {
    background-color: #707070;
    color: white !important;
}

.formMain {
    padding: 20px;
    padding-top: 13px;
    box-sizing: border-box;
}

.formMain [derived-property-value] {
    background-color: burlywood;
}

.formMain [disabled] {
    /*background-color: #ffffff !important;*/
}

.formGroup {
    padding-bottom: 10px;
}

.formLabel {
    color: #000000;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dlgLabel {
    color: rgb(70, 120, 200);
    font-weight: bold;
    font-size: 10pt;
    padding-bottom: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.formField {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: transparent;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: transparent;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: transparent;
    border-bottom: 1px solid #f0f0f0;
}

@sprite .warningLabel {
    gwt-image: 'warningIcon';
    border: solid 1px #ffe884;
    background-position: 2px 2px;
    background-color: #faf6c3;
    width: auto;
    height: auto;
    vertical-align: top;
    padding: 4px 4px 4px 24px;
    font-size: 10px;
    font-family: tahoma, sans-serif;
}

@sprite .classIcon
{
    gwt-image: 'classIcon';
}

@sprite .deprecatedClassIcon
{
    gwt-image: 'classIcon';
    opacity:0.5;
}

.classIconInset {
    background-image: classIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 1px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

.objectPropertyIconInset {
    background-image: objectPropertyIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 1px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

@sprite .objectPropertyIcon
{
    gwt-image: 'objectPropertyIcon';
}

@sprite .deprecatedObjectPropertyIcon
{
    gwt-image: 'objectPropertyIcon';
    opacity:0.5;
}


.dataPropertyIconInset {
    background-image: dataPropertyIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 1px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

@sprite .dataPropertyIcon
{
    gwt-image: 'dataPropertyIcon';
}

@sprite .deprecatedDataPropertyIcon
{
    gwt-image: 'dataPropertyIcon';
    opacity:0.5;
}




.annotationPropertyIconInset {
    /*gwt-image: 'annotationPropertyIcon';*/
    background-image: annotationPropertyIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 1px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

@sprite .annotationPropertyIcon
{
    gwt-image: 'annotationPropertyIcon';
}

@sprite .deprecatedAnnotationPropertyIcon
{
    gwt-image: 'annotationPropertyIcon';
    opacity:0.5;
}


.datatypeIconInset {
    background-image: datatypeIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 2px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

.commentIconInset {
    background-image: commentIconUrl;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

@sprite .datatypeIcon
{
    gwt-image: 'datatypeIcon';
}

@sprite .deprecatedDatatypeIcon
{
    gwt-image: 'dataPropertyIcon';
    opacity:0.5;
}



@sprite .literalIcon
{
    gwt-image: 'literalIcon';
}

.literalIconInset {
    background-image: literalIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 2px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

@sprite .individualIcon
{
    gwt-image: 'individualIcon';
}

@sprite .deprecatedIndividualIcon
{
    gwt-image: 'individualIcon';
    opacity:0.5;
}

.individualIconInset {
    background-image: individualIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 1px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

@sprite .linkIcon
{
    gwt-image: 'linkIcon';
}

.linkIconInset {
    background-image: linkIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 2px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

@sprite .iriIcon
{
    gwt-image: 'iriIcon';
}

@sprite .iriIconInset {
    gwt-image: 'iriIcon';
    background-position: 2px 2px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

@sprite .numberIcon
{
    gwt-image: 'numberIcon';
}

.numberIconInset {
    background-image: numberIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 1px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

@sprite .dateTimeIcon
{
    gwt-image: 'dateTimeIcon';
}

@sprite .dateTimeIconInset {
    gwt-image: 'dateTimeIcon';
    background-position: 2px 2px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

.portletToolbar {
    background: #f1f1f1;
}

.inTrash {
    color: #c0c0c0;
}

.userName {
    font-weight: 300;
    color: #989898;
}

.sharingDropDown {
    text-transform: lowercase;
}

.entityIcon {
    color: #007fff;
}

.discussionThreadStatusOpen {
    color: #990099 !important;
}

.discussionThreadStatusOpen:hover {
    color: white !important;
}

.discussionThreadStatusClosed {
    color: #009900 !important;
}

.discussionThreadStatusClosed:hover {
    color: white !important;
}

blockquote {
    margin: 5px;
    border-left: 3px solid #d0d0d0;
    color: #808080;
    padding: 5px;
    margin-left: 10px;
}

.derivedInformation {
    background-color: #fff9f0;
}