@external web-protege-laf;

@url background warningIconBackgroundImage;

.webProtegeLaf {

}

.formMain {
    padding: 20px;
    padding-top: 13px;
}

.formMain [disabled] {
    background-color: #ffffff !important;
}

.formGroup {
    padding-bottom: 10px;
}

.formLabel {
    color: #000000;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dlgLabel {
    color: rgb(70, 120, 200);
    font-weight: bold;
    font-size: 10pt;
    padding-bottom: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.formField {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: transparent;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: transparent;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: transparent;
    border-bottom: 1px solid #f0f0f0;
}

.warningLabel {
    border: solid 1px #ffe884;
    background-size: 10px 10px;
    background: #faf6c3 no-repeat left 3px top 3px;
    background-image: background;
    vertical-align: top;
    padding: 4px 4px 4px 24px;
    font-size: 10px;
    font-family: tahoma, sans-serif;
}