.popupMenu {
    background: white;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
    border: 1px solid #e0e0e0;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 3px;
    box-sizing: border-box;
    min-width: 150px;
    outline: thick;
}

.popupMenuInner {
    background: #ffffff;
    box-sizing: border-box;
}

.popupMenuItem {
    background: none repeat scroll 0 0 #ffffff;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 15px;
    color: #555555;
    vertical-align: middle;
    line-height: 20px;
    border-radius: 3px;
    box-sizing: border-box;
}

.popupMenuItem:hover {
    background: dodgerblue;
    color: #ffffff;
}

.popupMenuItem-disabled {
    background: #ffffff;
    color: #e0e0e0;
}

.separator {
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
}