.wp-button-primary, .wp-button-alternate, .wp-button-accept, .wp-button-cancel {
    border: none;
    border-radius: 2px;
    padding: 0 20px;

    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;

    color: #fff;
    cursor: pointer;

    transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    -webkit-transition: background-color 0.15s ease-in-out;

}

.wp-button-primary {
    background-color: #6c1a91;
    height: 2.4em;
    line-height: 2.4em;
}

.wp-button-primary:hover {
    background-color: #501c70;
}

.wp-button-primary:disabled {
    background-color: lightgray;
    cursor: default;
}

.wp-button-alternate {
    background-color: #db5e33;
    height: 2.4em;
    line-height: 2.4em;
}

.wp-button-alternate:hover {
    background-color: #bc4d26;
}

.wp-button-alternate:disabled {
    background-color: lightgray;
    cursor: default;
}

.wp-button-cancel {
    flex-grow: 0;
    min-width: 100px;
    height: 1.8em;
    line-height: 1.8em;
    background-color: #959ea7;
}

.wp-button-cancel:hover {
    background-color: #737c85;
}

.wp-button-accept {
    background-color: #6c1a91;
    flex-grow: 0;
    min-width: 100px;
    height: 1.8em;
    line-height: 1.8em;
}

.wp-button-accept:hover {
    background-color: #501c70;
}


.wp-button-toolbar {
    border: solid transparent 1px;
    color: #464646;
    height: 20px;
    margin: 1px;
    background: transparent;
    cursor: pointer;
}

.wp-button-toolbar-selected {
    color: dodgerblue;
}

.wp-button-toolbar:hover:enabled {
    background-color: #707070;
    color: #ffffff;
}

.wp-button-toolbar:active:enabled {
    background-color: #424242;
    color: #ffffff;
}

.wp-button-toolbar:disabled {
    color: #aaaaaa;
    cursor: default;
}

