    .cellListEvenItem {

    }

    .cellListKeyboardSelectedItem {
    }

    .cellListOddItem {
    }

    .cellListSelectedItem {
        color: literal("var(--selectedItem-color)");
        background: literal("var(--selectedItem-background-color)");
    }

    .cellListWidget {
        cursor: pointer;
    }