@external wp-*;

.wp-TopBar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wp-TopBar-icon {
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
}

.wp-TopBar-content {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-grow: 1;
    flex-shrink: 1;
}

.wp-TopBar-title {
}

.wp-TopBar-separator {
}

.wp-TopBar-button {
    border: none;
    line-height: 18px;
    height: 22px;
    cursor: pointer;
    font-size: 12px;
}

.wp-TopBar-home-icon {

}