@external wp-*;

.wp-topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wp-topbar__logo {
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
}

.wp-topbar__content {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-grow: 1;
    flex-shrink: 1;
}

.wp-topbar__title {
}

.wp-topbar__separator {
}

.wp-toolbar {
    background-color: literal("var(--view-toolbar--background-color)");
    padding-bottom: 1px;
}