    .cellListEvenItem {

    }

    .cellListKeyboardSelectedItem {
    }

    .cellListOddItem {
    }

    .cellListSelectedItem {
        color: literal("var(--selectedItemColor)");
        background: literal("var(--selectedItemBackground)");
    }

    .cellListWidget {
        cursor: pointer;
    }