    .cellListEvenItem {

    }

    .cellListKeyboardSelectedItem {
    }

    .cellListOddItem {
    }

    .cellListSelectedItem {
        color: #fff;
        background: #116cd6;
    }

    .cellListWidget {
        cursor: pointer;
    }