@external .gwt-TextBox;
@external .gwt-TextArea;
@external .gwt-PasswordTextBox;
@external .gwt-Label;
@external .gwt-Button;

.dialog {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background: #f0f0f0;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
}

.buttonBar {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 0;
    flex-shrink: 0;
}


.dialog .gwt-TextBox {
    border: 1px solid #e0e0e0;
    line-height: 20px;
    background-color: #ffffff;
    padding: 2px;
    font-size: 12px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.dialog textarea {
    border: 1px solid #e0e0e0;
    line-height: 20px;
    background-color: #ffffff;
    padding: 2px;
    font-size: 12px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.dialog .gwt-PasswordTextBox {
    border: 1px solid #e0e0e0;
    line-height: 20px;
    background-color: #ffffff;
    padding: 2px;
    font-size: 12px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.dialog .gwt-Label {
    color: #606060;
    padding-bottom: 4px;
    padding-top: 10px;
    font-weight: 500;
}

.dialog .title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 30px;
    padding-top: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.group {
    padding-bottom: 10px;
}

.dialog .errorLabel {
    color: #af0002;
    display: none;
    padding: 0;
}