<html>
<head>
    <style>
        .main {
            font-family: Helvetica, Arial, sans-serif;
        }
        .userName {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="main">
    <div>
        Your {{{application.name}}} password (for user name <span class="userName">{{{userId}}}</span>) has been reset to:
    </div>
    <div class="pwd">
        {{{pwd}}}
    </div>
    <div>
        Please <a href="{{application.url}}">sign in</a> using this new password and then change it after signing in.
    </div>
</div>
</body>
</html>
