*.class

# boilerplate generated classes #
.apt_generated/

# build files
target/
build/
extras/
out/
TEST-*.txt

# IDE files
.idea/
*.iml
.classpath
.project
.settings/

# WebProtege specific files
webprotege.properties
mail.properties

# others
.svn/
.DS_Store
/docs

