.cm-s-manchester-syntax span.cm-quantifier {
    color: #c528eb;
    font-family: verdana,arial,helvetica,sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.cm-s-manchester-syntax span.cm-boolean-connective {
    color: #0669eb;
    font-family: verdana,arial,helvetica,sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.cm-s-manchester-syntax span.cm-string {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 12px;
}


/*.CodeMirror pre {*/
    /*font-size: 12px;*/
    /*line-height: 12px;*/
    /*height: 14px;*/
/*}*/

.CodeMirror pre {
    line-height: 16px;
}

.axiom-kw {
    font-weight: bold;
    color: #0A5EA8;
}


.section-kw {
    font-weight: bold;
    color: #0A5EA8;
}

.quantifier-kw {
    font-weight: bold;
    color: #B200B2;
}

.connective-kw {
    font-weight: bold;
    color: #00B2B2;
}

.deprecated {
    opacity: 0.5;
    text-decoration: line-through;
}

.highlight {
    font-weight: bold;
    background: #FFEB7F;
}

.iri {
    color: #0000ff;
    text-decoration: underline;
}

.literal {
    color: #a0522d;
}

.l-par {
    padding-right: 2px;
    color: #a9a9a9;
}

.r-par {
    padding-left: 2px;
    color: #a9a9a9;
}

.exp-block {
    display: inline-block;
    vertical-align: top;
}