<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>
            <shortenedLoggerNameLength>48</shortenedLoggerNameLength>
            <fieldNames>
                <levelValue>[ignore]</levelValue>
                <version>[ignore]</version>
                <logger>logger</logger>
                <thread>thread</thread>
            </fieldNames>
            <!-- We need to shorten stacktraces so they fit into infrastructure limits. -->
            <!-- Sentry should be used for full stacktraces. -->
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>40</maxDepthPerThrowable>
                <!-- The largest JSON message our Babylon infra can parse is around ~16k, use max 10k for the stacktrace-->
                <maxLength>10000</maxLength>
                <!-- Most class names should fit into this limit -->
                <shortenedClassNameLength>100</shortenedClassNameLength>
                <!-- Exclude stack elements with no meaning -->
                <exclude>sun\.reflect\..*\.invoke.*</exclude>
                <exclude>net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
            </throwableConverter>
        </encoder>
    </appender>

    <!--    <appender name="SENTRY" class="io.sentry.logback.SentryAppender">-->
    <!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
    <!--            <level>WARN</level>-->
    <!--        </filter>-->
    <!--    </appender>-->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <!--        <appender-ref ref="SENTRY"/>-->
    </root>
</configuration>
