#* @vtlvariable name="moduleDesc" type="edu.stanford.gwtplaces.server.PortletModuleDescriptor" *#

package edu.stanford.bmir.protege.web.client.portlet;

import com.google.gwt.inject.client.AbstractGinModule;
import com.google.inject.Singleton;
import edu.stanford.bmir.protege.web.client.portlet.PortletFactory;

#foreach(${moduleDesc} in ${moduleDescriptors})
import ${moduleDesc.moduleFullyQualifiedClassName};
#end

public class PortletFactoryModuleGenerated extends AbstractGinModule {
    @Override
    protected void configure() {
        #foreach(${moduleDesc} in ${moduleDescriptors})
            install(new ${moduleDesc.moduleFullyQualifiedClassName}());
        #end
        bind(PortletFactory.class).to(${rootPackage}.PortletFactoryGenerated.class);
    }
}