body, input, textarea, keygen, select, button, .x-tree-node, .x-tree {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #505050;
    font-size: 12px;
}

.x-tree-node a {
    color: inherit;
}

.x-tree-node a span {
    color: inherit;
}

.x-tree-node .x-tree-selected {
    color: white;
    background-color: dodgerblue;
}

a {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.x-panel-body-noheader, .x-panel-mc .x-panel-body {
    border: none;
}

ul.disc {
    list-style-type: disc;
    padding: 15px;
}

::-webkit-input-placeholder {
    color: rgba(200, 200, 200, 1.0);
}

::-moz-placeholder {
    color: rgba(200, 200, 200, 1.0);
}

:-moz-placeholder {
    color: rgba(200, 200, 200, 1.0);
}

*.web-protege-laf *:after, *:before {
    box-sizing: border-box;
}

.web-protege-laf {
    font-size: 12px;
}

*.web-protege-laf * .gwt-TextArea, .gwt-TextArea-readonly {
    border: 1px solid #e0e0e0;
    font-size: 12px;
    padding: 2px;
    line-height: 15px;
    color: #000000;
}

*.web-protege-laf .gwt-TextBox, .gwt-TextBox-readonly, .gwt-PasswordTextBox {
    border: 1px solid transparent;
    border-bottom-color: #f0f0f0;
    font-size: 12px;
    padding: 2px;
    line-height: 15px;
}

[contenteditable=true] {
    border: 1px solid silver;
    font-size: 12px;
    padding: 2px;
    box-shadow: 0 0 3px 1px rgba(240, 240, 240, 1.0) inset;
    height: 100%
}

:focus {
    outline: #0A5EA8 solid 1px;
    outline-offset: -1px;
}

*.web-protege-no-focus :focus {
    border: none;
}

.gwt-SuggestBox, .gwt-SuggestBox [disabled] {
    border: 1px solid #f0f0f0;
    font-size: 12px;
    padding: 2px;
    line-height: 16px;
    color: #000000;
    background: transparent;
}

.gwt-SuggestBoxPopup {
    font-size: 12px;
    background: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    border: 1px solid #acacac;
    line-height: 15px;
    z-index: 10;
}

.gwt-SuggestBoxPopup .item {
    background: white;
    color: #000000;
}

.gwt-SuggestBoxPopup .item-selected {
    color: #ffffff;
    background: #4779be;
}

.gwt-SuggestBoxPopup .item .new-keyword {
    color: #0669eb;
    background: #ffffff;
    font-weight: bold;
}

.gwt-SuggestBoxPopup .item-selected .new-keyword {
    color: white;
    background: #4779be;
    font-weight: bold;
}

.web-protege-entity-match-substring {
    font-weight: bold;
}

.web-protege-red-foreground {
    color: red;
}

* .web-protege-error-label > * a:link {
    text-decoration: underline;
    color: #0055aa;
    padding: 2px;
}

.empty-icon-inset {
    padding-left: 22px !important;
    background-color: inherit;
}

.gwt-ToggleButton {
    display: inline-block;
}

.gwt-ToggleButton-up {
    border: #e6e6e6 solid 1px;
    background: #fafafa;
}

.gwt-ToggleButton-down {
    background: none repeat scroll 0 0 #f1f1f1;
    border: 1px solid #a8a8a8;
    box-shadow: 0 0 2px 2px #dfdfdf inset;
}

.gwt-ToggleButton-up-hovering {
    border: #e6e6e6 solid 1px;
    box-shadow: 0 0 5px 2px #676767;
}

.gwt-ToggleButton-down-hovering {
    background: none repeat scroll 0 0 #f1f1f1;
    border: 1px solid #bdbdbd;
    box-shadow: 0 0 2px 2px #dfdfdf inset;
}

*.web-protege-laf * .gwt-RichTextArea, .gwt-RichTextArea-readonly {
    border: 1px solid #f0f0f0;
    font-size: 12px;
    padding: 2px;
    line-height: 15px;
    color: #000000;
    margin: 0;
}

select {
    border: 1px solid silver;
    box-shadow: 0 0 3px 1px #f0f0f0 inset;
    font-size: 12px;
    line-height: 16px;
    padding: 1px;
}

.web-protege-highlighted-table-column {
    background: #f3f3ff
}

.web-protege-mapped-table-column {
    font-weight: bold !important;
    background: #efffef;
}

.gwt-MenuBar-vertical {
    background: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    border: 1px solid #acacac;
    padding: 20px;
}

.gwt-MenuItem-selected {
    color: #ffffff;
    background: #0055aa;
}

.gwt-PopupPanel {
    background: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    border: 1px solid #acacac;
}

.glass {
    background: #808080;
    opacity: 0.5;
}

.glass-popup-shadow {
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5) !important;
}

.progress-popup {
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
}

[asserted=false] textarea {
    color: #9d3600;
}

.error {
    border-bottom: solid #ff0000 2px;
    box-sizing: border-box;
    color: red !important;
}

.empty-metric {
    color: #dadada;
}

.gwt-DialogBox {
    background: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    border: 1px solid #acacac;
    padding: 20px;
    z-index: 10;
}

.gwt-DialogBox .Caption {
    background-color: white;
    color: #505050;
    cursor: default;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 16px;
}

.web-protege-dialog-main-panel {
    font-size: 12px;
}

.web-protege-dialog-label {
    color: #4779be;
    text-align: right;
    font-size: 12px;
}

.web-protege-dialog-button-bar {
    float: right;
    padding-top: 10px;
}

.gwt-RadioButton {
    display: block;
    height: 100%;
    vertical-align: middle;
}

.gwt-RadioButton label > div {
    padding-top: 5px;
}

.gwt-RadioButton > label {
    padding-left: 5px;
}

.web-protege-term-editor {
    border-top: 1px dotted silver;
    padding-top: 10px;
    padding-bottom: 5px;
    clear: both;
}

.web-protege-form-layout-editor table {
    width: 100%;
}

.web-protege-form-layout-editor * table td + td {
    padding-left: 1px;
    padding-top: 1px;
}

.web-protege-term-editor * table td + td {
    padding-left: 1px;
    padding-top: 1px;
}

.web-protege-term-editor * table td {
    padding-left: 1px;
    padding-top: 1px;
}

.web-protege-form-layout-margin {
    margin: 1px;
}

.web-protege-value-list {

}

.web-protege-value-list > table > tbody > tr > td {
    border-bottom: 1px solid rgb(240, 240, 240);
}

.web-protege-value-list .gwt-SuggestBox {
    border: 1px solid transparent;
}

.web-protege-value-list .gwt-SuggestBox {
    border: 1px solid transparent;
}

.web-protege-value-list .gwt-TextBox {
    border: 1px solid transparent;
}

.web-protege-value-list .gwt-TextArea {
    border: 1px solid transparent;
}

.cm-s-manchester-syntax span.cm-quantifier {
    color: #c528eb;
    font-weight: bold;
    font-size: 12px;
}

.cm-s-manchester-syntax span.cm-boolean-connective {
    color: #0669eb;
    font-weight: bold;
    font-size: 12px;
}

.cm-s-manchester-syntax span.cm-string {
    font-size: 12px;
}

.CodeMirror pre {
    line-height: 16px;
}

.ms-axiom-kw {
    font-weight: bold;
    color: #0A5EA8;
}

.section-kw {
    font-weight: bold;
    color: #0A5EA8;
}

.quantifier-kw {
    font-weight: bold;
    color: #B200B2;
}

.connective-kw {
    font-weight: bold;
    color: #00B2B2;
}

.deprecated {
    opacity: 0.5;
    text-decoration: line-through;
}

.highlight {
    font-weight: bold;
    background: #FFEB7F;
}

.iri {
    color: #0000ff;
    text-decoration: underline;
}

.literal {
    color: #a0522d;
}

.l-par {
    padding-right: 2px;
    color: #a9a9a9;
}

.r-par {
    padding-left: 2px;
    color: #a9a9a9;
}

.exp-block {
    display: inline-block;
    vertical-align: top;
}

td {
    font-size: 12px;
    vertical-align: top;
}

.ms-frame {
    margin-bottom: 30px;
    /*border-bottom: 1px solid #f3f3f3;*/
    padding-bottom: 5px;
    font-size: 12px;

}

.ms-frame ul {
    list-style: disc inside;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.ms-frame-subject {
    font-weight: bold;
}

.ms-frame-kw {
    color: #07589f;
    font-weight: bold;
}

.ms-frame-block {
    margin-left: 30px;
}

.ms-section {
    margin-top: 10px;
}

.ms-section-block {
    margin-top: 10px;
    margin-left: 30px;
}

.ms-section-item {
    line-height: 1.3em;
    padding-bottom: 3px;
    padding-top: 3px;
    border-bottom: 1px solid #f4f4f4;
}

.ms-section-item:hover {
    background: #ededed;
}

.ms-section-kw {
    color: #07589f;
    font-weight: bold;
}

.ms-quantifier-kw {
    color: #c600c6;
    font-weight: bold;
}

.cm-quantifier {
    color: #c600c6;
    font-weight: bold;
}

.ms-connective-kw {
    color: cornflowerblue;
    font-weight: bold;
}

.ms-literal {
    color: #bb7200;
}

.ms-expr-block {
    display: inline-block;
    vertical-align: top;
}

.ms-lang-tag {
    color: #a9a9a9;
}

.ms-literal-datatype {
    color: #a9a9a9;
}

.ms-sep {
    color: #a9a9a9;
    display: inline-block;
    vertical-align: bottom;
}

.ms-l-par {
    color: #a9a9a9;
}

.ms-r-par {
    color: #a9a9a9;
    display: inline-block;
    vertical-align: bottom;
}

.ms-img {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #f5f5f5;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.ms-img img {
    max-width: 150px;
}

.ms-ont-id {
    color: #bca7a8;
}

.ms-item-ce {
}

.ms-item-ind {
}

.ms-item-anno {
}

.ms-item-prop {
}

.ms-item-dr {
}

.ms-literal p:only-child {
    display: inline;
    margin: 0;
    padding: 0;
}

.ms-annotations {
    border-left: solid 4px #f1f1f1;
    margin-bottom: 4px;
    margin-left: 22px;
    padding-left: 5px;
    margin-top: 4px;
}

.ms-annotations-block {
    padding-left: 20px;
}

.ms-nested-annotation {
    /*	border-top: 1px dotted #f4f4f4;*/
}


.gwt-TabBar .gwt-TabBarItem {
    padding: 2px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    color: #464646;
    border-bottom: solid transparent 2px;
    outline-style: none;
    outline-width: 0;
}

.gwt-TabBar .gwt-TabBarItem-selected {
    border-bottom: solid 2px dodgerblue;
    color: dodgerblue;
    outline: none 0;
}

.gwt-CheckBox > label {
    padding-left: 10px;
}

/** Animation of Busy Indicator **/

@-webkit-keyframes busy-ind-anim {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes busy-ind-anim {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.busy-indicator {
    position: relative;
    overflow: hidden;
    width: 82px;
    height: 80px;
}

.busy-indicator > div:nth-of-type(1) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.busy-indicator > div:nth-of-type(2) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: -0.4166666666666667s;
    animation-delay: -0.4166666666666667s;
}
.busy-indicator > div:nth-of-type(3) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: -0.33333333333333337s;
    animation-delay: -0.33333333333333337s;
}
.busy-indicator > div:nth-of-type(4) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
}
.busy-indicator > div:nth-of-type(5) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: -0.16666666666666669s;
    animation-delay: -0.16666666666666669s;
}
.busy-indicator > div:nth-of-type(6) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: -0.08333333333333331s;
    animation-delay: -0.08333333333333331s;
}
.busy-indicator > div:nth-of-type(7) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.busy-indicator > div:nth-of-type(8) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: 0.08333333333333337s;
    animation-delay: 0.08333333333333337s;
}
.busy-indicator > div:nth-of-type(9) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: 0.16666666666666663s;
    animation-delay: 0.16666666666666663s;
}
.busy-indicator > div:nth-of-type(10) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
.busy-indicator > div:nth-of-type(11) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: 0.33333333333333337s;
    animation-delay: 0.33333333333333337s;
}
.busy-indicator > div:nth-of-type(12) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: 0.41666666666666663s;
    animation-delay: 0.41666666666666663s;
}

/* Externalised application styles */

.wp-TopBar {
    background-color: #f0f0f0;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-bottom: 5px;
}

.wp-TopBar-title {
    font-weight: 600;
    font-size: 18px;
}

.wp-TopBar-separator {
    width: 1px;
    background: #c8c8c8;
}
.wp-TopBar-button {
    color: #505050;
    background-color: transparent;
}
.wp-TopBar-button:hover {
    background-color: #505050;
    color: white;
}