
/*
  The upper panel containing the radio buttons (public | private) for controlling overall visibility.
*/
.web-protege-sharing-settings-visibility-selector-panel {

}

/*
    A summary panel that appears below the radio buttons to summarise what has been selected.  The summary panel can
    contain more controls for modifying settings.
*/
.web-protege-sharing-settings-visibility-summary-box {
    padding-top: 12px;
    padding-bottom: 15px;
    color: #737373;
}

.web-protege-sharing-add-people {
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(245, 245, 245, 1.0);
    border-style: solid;
    border-color: rgba(230, 230, 230, 1.0);
    border-width: 1px;
    padding: 10px;
}

.web-protege-sharing-settings-list {
    padding: 10px;
}