
.web-protege-drop-down {
    display: inline;
    color: #4779be;
}

.web-protege-drop-down-item {
    background: white;
}

.web-protege-drop-down-item:hover {
    background: #ecf4fd;
}

.web-protege-drop-down-item-selected {
    background: #4779be;
    color: white;
}

.web-protege-drop-down-item-selected:hover {
    background: #4779be;
    color: white;
}

.web-protege-drop-down-item-deselected {

}

.web-protege-drop-down-popup {
    border-style: solid;
    border-width: 1px;
    background: white;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    border: 1px solid #ACACAC;
    border: 1px solid rgba(0, 0, 0, .333);
    font-size: 12px;
}

.web-protege-drop-down-content-holder {
    display: inline;
}

.web-protege-drop-down-button-holder {
    display: inline;
}




