body
{
    font-family:tahoma, sans-serif;
}

.centeredImage
{
    margin-bottom:0;
    margin-top:0;
    padding:0;
    text-align:center;
}

a
{
    text-decoration:none;
}

a:link
{
    color:#327BAA;
}

a:visited
{
    color:#6F1488;
}

a:hover
{
    color:#DC7317;
}

.x-panel
{
    border:none;
}

.x-panel .x-portlet
{
    border:1px solid #99BBE8;
}

.x-panel-mr
{
    background:none;
    padding:0;
}

.x-panel-ml
{
    background:none;
    padding:0;
}

.x-panel-mc
{
    background:none;
    padding:0;
}

.x-panel-br
{
    background:none;
    padding:0;
}

.x-panel-bl
{
    background:none;
    padding:0;
}

.x-panel-bc
{
    background:none;
    padding:0;
}

.x-panel-tr
{
    background:none;
    padding:0;
}

.x-panel-tl
{
    background:none;
    padding:0;
}

.x-panel-tc
{
    background:#ECF4FD;
    padding-left:6px;
}

.x-toolbar
{
    background:#DBEBF0;
}

ul.x-tab-strip li
{
    background:#BDCAD8;
    margin-bottom:2px;
}

.x-tab-strip-top .x-tab-right
{
    background:none;
}

.x-tab-strip-top .x-tab-left
{
    background:none;
}

.x-tab-strip-active span.x-tab-strip-text
{
    color:#00F;
    cursor:default;
    font-weight:700;
    text-decoration:underline;
}

.x-tab-strip-top .x-tab-strip-inner
{
    background:none;
}

.x-tab-strip span.x-tab-strip-text
{
    color:#249;
}

.x-tab-panel-header,.x-tab-panel-footer
{
    background:none;
    border:none;
}

.x-tab-panel-header .x-unselectable
{
    border:none;
}

.spec-tab-header-green
{
    background-color:#D7DEBD!important;
}

.spec-tab-header-green span.x-tab-strip-text
{
    color:#4A4A00;
}

.spec-tab-header-orange
{
    background-color:#EED8C1!important;
}

.spec-tab-header-orange span.x-tab-strip-text
{
    color:#EB5321;
}

.tabpanel-onerow ul.x-tab-strip
{
    width:10000px!important;
}

.tabpanel-multirow ul.x-tab-strip
{
    width:auto!important;
}

.x-panel-body-noheader,.x-panel-mc .x-panel-body
{
    border:none;
}

.toolbar-button .x-btn-text
{
    background-position:0 2px;
    background-repeat:no-repeat;
    color:#15428B;
    font-size:90%;
    padding:3px 0 2px 18px;
}

.toolbar-button .x-btn-text-icon .x-btn-center .x-btn-text
{
    background-position:0 2px;
    background-repeat:no-repeat;
    color:#15428B;
    font-size:90%;
    padding:3px 0 2px 18px;
}

.x-tree .x-panel-body
{
    background-color:#FFF;
}

.white-bg
{
    background-color:#FFF;
}

ul.x-tab-strip-top
{
    background-color:#FFF;
    background-image:none;
}

.footer
{
    color:#AE5B12;
    font-size:70%;
    text-align:center;
}

.top-panel
{
    border:1px solid #0FF;
    height:50px;
}

.header-right
{
    font-size:70%;
    right:5px;
    text-align:right;
    top:5px;
    vertical-align:top;
}

.header-left
{
    font-size:70%;
    right:5px;
    text-align:left;
    top:5px;
    vertical-align:top;
}

.login-welcome-msg
{
    color:#686D78;
    font-size:11px;
    font-weight:700;
}

.userName
{
    font-size:70%;
    font-weight:700;
    right:5px;
    text-align:right;
    top:5px;
    vertical-align:top;
}

#annotations-grid .x-grid3-cell-inner
{
    overflow:visible;
    white-space:normal!important;
}

#ontologies-grid .x-grid3-cell-inner
{
    overflow:visible;
    white-space:normal!important;
}

.jnlpPanel
{
    background-color:#ECF4FD;
    border:1px solid #99BBE8;
    margin:5px;
    padding:5px;
}

.html-portlet
{
    font-size:larger;
}

.html-portlet .x-panel-body
{
    overflow:auto;
}

.restriction_table
{
    background-color:#FFF;
    font-family:arial, tahoma, helvetica, sans-serif;
    importantpadding:5px 5px 5px 5px;
}

.x-grid3-header-offset
{
    width:auto;
}

.gwt-ListBox
{
    font-family:tahoma, sans-serif;
}

ul.disc
{
    list-style-type:disc;
    padding:15px;
}

.x-form-item-label,.form_label
{
    clear:left;
    color:#1542bb;
    display:block;
    float:left;
    font-family:tahoma, sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:700;
    line-height:normal;
    padding:3px 3px 3px 0;
    position:relative;
    width:100px;
    z-index:2;
}

.x-form-item-label,.action_link
{
    width:100px;
}

.form_grid
{
    padding:1px 3px;
}

.form_html_panel
{
    font-family:tahoma, sans-serif;
    font-size:12px;
    height:150px;
}

.instance-checkbox input
{
    height:13px;
    margin:0;
    overflow:hidden;
    padding:0;
    position:relative;
    vertical-align:bottom;
    width:13px;
}

.instance-checkbox label
{
    padding-left:10px;
    text-indent:-10px;
}

#changes-grid .x-grid3-cell-inner
{
    overflow:visible;
    white-space:normal!important;
}

.manage-button
{
    color:#15428B;
    cursor:pointer;
    font-size:100%;
    font-weight:700;
    padding:7px;
    text-decoration:underline;
}

.hierarchy-title
{
    background-color:#BDCAD8;
    color:#15428B;
    font-size:120%;
    font-weight:700;
    margin-bottom:5px;
    padding:5px;
}

.select-link
{
    background-image:url(../images/add.png)!important;
    background-position:0 0!important;
    border-style:none!important;
    border-width:0;
    margin-left:5px;
    margin-top:5px;
}

.explanation
{
    background-color:#faf59b;
    border:1px solid #15428B;
    margin-bottom:10px;
    margin-right:10px;
    margin-top:10px;
    padding:5px 5px 5px 8px;
}

.parents
{
    background:#FFF url(../images/default/form/text-bg.gif) repeat-x scroll 0 0;
    border:1px solid #B5B8C8;
    margin:0!important;
    overflow:auto;
    padding:2px 3px;
}

.parents-no-border
{
    background:#FFF url(../images/default/form/text-bg.gif) repeat-x scroll 0 0;
    padding:2px 3px;
}

.parents-label
{
    clear:left;
    color:#1542BB;
    display:block;
    float:left;
    font-family:tahoma, sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:700;
    line-height:normal;
    margin-right:6px;
    padding:3px 0;
    position:relative;
    width:100px;
    z-index:2;
}

.parent-column-right
{
    background-color:#FFF;
    font-family:tahoma, sans-serif;
    importantpadding:5px 5px 5px 5px;
    text-align:right;
}

.ext-gecko .x-window-body .x-form-item
{
    overflow:hidden;
}

.menuBar
{
    cursor:pointer;
    margin-top:-2px;
    padding:0;
}

.menuBar .gwt-MenuItem
{
    cursor:pointer;
    margin-top:-2px;
    padding:0;
}

.menuBar .gwt-MenuItem-selected
{
    color:#DC7317;
}

.menuBar .gwt-MenuItem-visited
{
    cursor:pointer;
    margin-top:-2px;
    padding:0;
}

.subMenuBar
{
    background-color:#FFF;
    border-color:#AAA;
    border-style:solid;
    border-width:1px;
    color:#327BAA;
    cursor:pointer;
    font-size:75%;
    margin:3px;
    padding:6px;
    text-decoration:underline;
}

.subMenuBar .gwt-MenuItem-selected
{
    background-color:#327BAA;
    color:#FFF;
}

.label
{
    color:#039;
    font-size:11px;
    font-weight:700;
}

.gwt-PopupPanel
{
    background-color:#CEDBEC;
    border:3px thin #C3D9FF;
    border-color:#329ab3;
    border-width:20px;
    padding:3px;
    z-index:20;
}

.gwt-PopupPanel .popupContent
{
    background-color:#DFE8F6;
}

.loginpanel .x-panel-body
{
    background-color:#DFE8F7;
}

.links-blue
{
    color:#039;
    cursor:pointer;
    font-size:11px;
    font-weight:700;
    margin-top:-2px;
    padding:0;
}

.loading-img
{
    margin-left:3px;
}

.bp-search-rec-type
{
    color:gray;
    font-size:90%;
}

.bp-search-pref-name
{
    font-weight:700;
}

.bp-search-contents
{
    color:gray;
}

.instance-radio
{
    padding:5px;
}

.export_import_anchor
{
    font-size:120%;
    font-weight:700;
    text-decoration:underline;
}

.export-import-separator
{
    padding:10px 15px;
}

.condition_editor
{
    font-size:11px;
}

.hint_color_red
{
    background-color:#EFB4B2;
}

.hint_color_green
{
    background-color:#B7FFB7;
}

.ctrl_portlet
{
    background-image:url(../images/transmit_blue.png)!important;
}

.html-editor
{
    font:11px tahoma, sans-serif;
}

.x-grid3-cell-inner
{
    overflow:visible;
    white-space:normal!important;
}

.webprotege-revision-summary-style
{
    border-bottom:dotted;
    border-bottom-color:silver;
    border-bottom-width:1px;
    margin-bottom:5px;
    padding:4px;
}

.webprotege-revision-summary-revision-number-style
{
    font-weight:700;
}

.webprotege-revision-summary-userid-style
{
    font-weight:400;
}

ul.x-menu-list
{
    height:expression(this.scrollHeight>350?"350px":"auto");
    max-height:350px;
    overflow-y:auto;
}

.protege-class-icon
{
    background-image:url(../images/tree/class.png)!important;
}

.protege-deprecated-class-icon
{
    background-image:url(../images/tree/class.png)!important;
    opacity:0.5;
}

.protege-class-create-icon
{
    background-image:url(../images/tree/class.create.gif)!important;
}

.protege-class-delete-icon
{
    background-image:url(../images/tree/class.delete.gif)!important;
}

.x-grid3-td-topic b
{
    display:block;
    font-family:tahoma, verdana;
}

.x-grid3-td-topic b i
{
    color:#000;
    font-style:normal;
    font-weight:400;
}

.x-grid3-td-topic .x-grid3-cell-inner
{
    white-space:normal;
}

.x-grid3-td-topic a
{
    color:#385F95;
    text-decoration:none;
}

.x-grid3-td-topic a:hover
{
    text-decoration:underline;
}

.details .x-btn-text
{
    background-image:url(images/details.gif);
}

.discussion-link
{
    color:#00F!important;
    font-weight:700;
    padding-bottom:5px;
    padding-left:3px;
    padding-top:5px;
}

.discussion-link-inactive a
{
    color:#BBB!important;
}

.p-button
{
    color:#15428B;
    font-size:70%;
}

.individualsView-Banner
{
    background-color:#606;
    color:#FFF;
    font-size:11px;
    font-weight:700;
    margin:0 0 10px;
    padding:5px 0 5px 5px;
    width:100%;
}

.protege-individuals-icon
{
    background-image:url(../images/tree/individual.png)!important;
}

.propertiesView-Banner
{
    background-color:#369;
    color:#FFF;
    font-size:11px;
    font-weight:700;
    margin:0 0 10px;
    padding:5px 0 5px 5px;
    width:100%;
}

.protege-slot-icon
{
    background-image:url(../images/tree/slot.gif)!important;
}

.protege-slot-create-icon
{
    background-image:url(../images/tree/slot.create.gif)!important;
}

.protege-slot-delete-icon
{
    background-image:url(../images/tree/slot.delete.gif)!important;
}

.protege-object-property-icon
{
    background-image:url(../images/tree/property.png)!important;
}

.protege-datatype-property-icon
{
    background-image:url(../images/tree/property.png)!important;
}

.protege-annotation-property-icon
{
    background-image:url(../images/tree/annotation-property.png)!important;
}