*.web-protege-laf *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
    A marker style for new components that use non-gwtext styling
*/
.web-protege-laf {
    font-size: 12px;
    font-family: tahoma,sans-serif;
}

.web-protege-100-percent-width {
    width: 100%;
}


*.web-protege-laf * .gwt-TextArea, .gwt-TextArea-readonly {
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    font-size: 12px;
    font-family: tahoma,sans-serif;
    padding: 2px;
    box-shadow: 0px 0px 3px 1px rgba(240, 240, 240, 1.0) inset;
    -moz-box-shadow: 0px 0px 3px 1px rgba(240, 240, 240, 1.0) inset;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(240, 240, 240, 1.0) inset;
    line-height: 15px;
    color: #000000;
}

*.web-protege-laf .gwt-TextBox, .gwt-TextBox-readonly {
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    font-size: 12px;
    font-family: tahoma,sans-serif;
    padding: 2px;
    box-shadow: 0px 0px 3px 1px rgba(240, 240, 240, 1.0) inset;
    -moz-box-shadow: 0px 0px 3px 1px rgba(240, 240, 240, 1.0) inset;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(240, 240, 240, 1.0) inset;
    line-height: 15px;
    /*color: #000000;*/
}

[contenteditable=true] {
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    font-size: 12px;
    padding: 2px;
    font-family: tahoma,sans-serif;
    box-shadow: 0px 0px 3px 1px rgba(240, 240, 240, 1.0) inset;
    -moz-box-shadow: 0px 0px 3px 1px rgba(240, 240, 240, 1.0) inset;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(240, 240, 240, 1.0) inset;
    height: 100%
}

*.web-protege-laf :focus {
    border-style: solid;
    border-width: 1px;
    border-color: #4779be;
    outline: none;
}


*.web-protege-no-focus :focus {
    border: none;
}

.web-protege-form-label {
    color: #4779be;
    text-align: right;
    font-size: 12px;
    padding-right: 2px;
}

*.web-protege-laf .gwt-PasswordTextBox {
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    font-size: 12px;
    font-family: tahoma,sans-serif;
    padding: 2px;
    box-shadow: 0px 0px 3px 1px rgba(240, 240, 240, 1.0) inset;
    -moz-box-shadow: 0px 0px 3px 1px rgba(240, 240, 240, 1.0) inset;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(240, 240, 240, 1.0) inset;
}

.web-protege-form-horizontal-padding {
    padding-left: 2px;
}

.web-protege-form-vertical-padding {
    padding-top: 2px;
}

.web-protege-form-horizontal-component-spacing {
    padding-left: 10px;
}


.web-protege-component-group-left-padding {
    padding-left: 10px;
}


.web-protege-component-group-top-padding {
    padding-top: 10px;
}

.web-protege-component-group-right-padding {
    padding-right: 10px;
}

.web-protege-component-group-bottom-padding {
    padding-bottom: 10px;
}
.web-protege-component-group-padding {
    padding: 10px;
}


.gwt-SuggestBox, .gwt-SuggestBox [disabled] {
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    font-size: 12px;
    padding: 2px;
    box-shadow: 0px 0px 3px 1px rgba(240, 240, 240, 1.0) inset;
    line-height: 16px;
    font-family: tahoma,sans-serif;
    color: #000000;
    /*height: 16px;*/
}

.gwt-SuggestBoxPopup {
    font-size: 12px;
    border-style: solid;
    font-family: tahoma,sans-serif;
    border-width: 1px;
    background: white;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    border: 1px solid #ACACAC;
    border: 1px solid rgba(0, 0, 0, .333);
    font-size: 12px;
    line-height: 15px;
    z-index: 10;
}

.gwt-SuggestBoxPopup .item {
    background: white;
    color: #000000;
    font-family: tahoma,sans-serif;
}


.gwt-SuggestBoxPopup .item-selected {
    color: #ffffff;
    background: #4779be;
    font-family: tahoma,sans-serif;
}

.gwt-SuggestBoxPopup .item .new-keyword {
    color: #0669eb;
    background: #ffffff;
    font-weight: bold;
    font-family: tahoma,sans-serif;
}

.gwt-SuggestBoxPopup .item-selected .new-keyword {
    color: white;
    background: #4779be;
    font-weight: bold;
    font-family: tahoma,sans-serif;
}

::-webkit-input-placeholder {  color: rgba(200, 200, 200, 1.0);}
::-moz-placeholder { color: rgba(200, 200, 200, 1.0);}
:-moz-placeholder { color: rgba(200, 200, 200, 1.0);}


.web-protege-entity-match-substring {
    font-weight: bold;
}


.web-protege-vertical-spacer {
    height: 1.5em;
}

.web-protege-button-red {
    border-radius: 3px 3px 3px 3px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    line-height: 27px;
    margin-left: 16px;
    min-width: 54px;
    outline: 0 none;
    padding: 0 8px;
    text-align: center;
    color: white;

    border: 1px solid #DD4B39;

    background-image: -webkit-linear-gradient(top,#DD4B39,#D14836);
    background-image: -moz-linear-gradient(top,#DD4B39,#D14836);
    background-image: -ms-linear-gradient(top,#DD4B39,#D14836);
    background-image: -o-linear-gradient(top,#DD4B39,#D14836);
    background-image: linear-gradient(top,#DD4B39,#D14836);
}

.web-protege-button-red:hover {
    border: 1px solid rgba(150, 150, 150, 1.0);
    /*box-shadow: h-shadow v-shadow blur spread color inset;*/
    box-shadow: 0px 0px 2px 1px rgba(20, 20, 20, 0.2);
}

.web-protege-button-red:active {
    /*box-shadow: h-shadow v-shadow blur spread color inset;*/
    box-shadow: 0px 0px 2px 3px rgba(150, 50, 50, 0.5) inset;
}


.web-protege-button {
    border-radius: 3px 3px 3px 3px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    line-height: 27px;
    min-width: 54px;
    outline: 0 none;
    padding: 0 8px;
    text-align: center;
    color: white;

    border: 1px solid #96B9E6;

    background-image: -webkit-linear-gradient(top, #96B9E6, #87A6CF);
    background-image: -moz-linear-gradient(top, #96B9E6, #87A6CF);
    background-image: -ms-linear-gradient(top, #96B9E6, #87A6CF);
    background-image: -o-linear-gradient(top, #96B9E6, #87A6CF);
    background-image: linear-gradient(top, #96B9E6, #87A6CF);
}

.web-protege-button-margin-left {
    margin-left: 16px;
}

.web-protege-button:hover {
    border: 1px solid #96B9E6;
    /*box-shadow: h-shadow v-shadow blur spread color inset;*/
    box-shadow: 0px 0px 2px 1px rgba(50, 50, 50, 0.2);
}

.web-protege-button:active {
    /*box-shadow: h-shadow v-shadow blur spread color inset;*/
    box-shadow: 0px 0px 2px 3px #87A6CF inset;
}

.web-protege-button:disabled {
    border-radius: 3px 3px 3px 3px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    line-height: 27px;
    min-width: 54px;
    outline: 0 none;
    padding: 0 8px;
    text-align: center;
    color: white;
    background: rgba(220, 220, 220, 0.7);

    border: 1px solid #d3d3d3;

    box-shadow: none;
}






.web-protege-button-small {
    border-radius: 2px 2px 2px 2px;
    cursor: default;
    font-size: 9px;
    font-weight: bold;
    /*height: 14px;*/
    /*line-height: 12px;*/
    /*min-width: 10px;*/
    outline: 0 none;
    padding: 0 2px;
    text-align: center;
    color: white;

    border: 1px solid #96B9E6;

    background-image: -webkit-linear-gradient(top, #96B9E6, #87A6CF);
    background-image: -moz-linear-gradient(top, #96B9E6, #87A6CF);
    background-image: -ms-linear-gradient(top, #96B9E6, #87A6CF);
    background-image: -o-linear-gradient(top, #96B9E6, #87A6CF);
    background-image: linear-gradient(top, #96B9E6, #87A6CF);
}

.web-protege-button-small-margin-left {
    margin-left: 16px;
}

.web-protege-button-small:hover {
    border: 1px solid #96B9E6;
    /*box-shadow: h-shadow v-shadow blur spread color inset;*/
    box-shadow: 0px 0px 2px 1px rgba(50, 50, 50, 0.2);
}

.web-protege-button-small:active {
    /*box-shadow: h-shadow v-shadow blur spread color inset;*/
    box-shadow: 0px 0px 2px 3px #87A6CF inset;
}

.web-protege-button-small:disabled {
    border-radius: 2px 2px 2px 2px;
    cursor: default;
    font-size: 9px;
    font-weight: bold;
    /*height: 14px;*/
    /*line-height: 12px;*/
    /*min-width: 10px;*/
    outline: 0 none;
    padding: 0 2px;
    text-align: center;
    color: white;

    background: rgba(220, 220, 220, 0.7);

    border: 1px solid #d3d3d3;

    box-shadow: none;
}








.web-protege-error-background {
    background: #edb3b1;
}

.web-protege-red-foreground {
    color: red;
}

.web-protege-error-label {
    background: #edc7c4;
    border-left: solid 1px #ff0000;
    border-right: solid 1px #ff0000;
    border-bottom: solid 1px #ff0000;
    padding: 2px;
    font-family: tahoma,sans-serif;
}

.web-protege-warning-label {
    background: #faf6c3;
    border-left: solid 1px #ffe884;
    border-right: solid 1px #ffe884;
    border-bottom: solid 1px #ffe884;
    background-image: url(../images/warningB.png);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: left 3px top 3px;
    vertical-align: top;
    padding-left: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    font-size: 10px;
    font-family: tahoma,sans-serif;
}

* .web-protege-error-label > * a:link {
    text-decoration: underline;
    color: #0055aa;
    padding: 2px;
}

.class-icon-inset {
    background-image: url(../images/tree/class.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 22px !important;
}

.object-property-icon-inset {
    background-image: url(../images/tree/property.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 22px !important;
}

.data-property-icon-inset {
    background-image: url(../images/tree/property.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 22px !important;
}

.annotation-property-icon-inset {
    background-image: url(../images/tree/annotation-property.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 22px !important;
}

.individual-icon-inset {
    background-image: url(../images/tree/individual.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 22px !important;
}

.datatype-icon-inset {
    background-image: url(../images/tree/datatype.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 22px !important;
}

.literal-icon-inset {
    background-image: url(../images/tree/literal.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 22px !important;
}

.numeric-literal-icon-inset {
    background-image: url(../images/tree/number.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 22px;
}

.iri-icon-inset {
    background-image: url(../images/tree/iri.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 22px !important;
}

.date-time-icon-inset {
    background-image: url(../images/tree/date-time.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 22px !important;
}

.link-icon-inset {
    background-image: url(../images/tree/link.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 22px !important;
}



.empty-icon-inset {
    padding-left: 22px !important;
}


.gwt-ToggleButton {
    display: inline-block;
}



.gwt-ToggleButton-up {
    border: #e6e6e6 solid 1px;
    background: #FAFAFA;
}
.gwt-ToggleButton-down {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #a8a8a8;
    box-shadow: 0 0 2px 2px #DFDFDF inset;
}
.gwt-ToggleButton-up-hovering {
    border: #e6e6e6 solid 1px;
    box-shadow: 0 0 5px 2px #676767;
}
.gwt-ToggleButton-down-hovering {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #BDBDBD;
    box-shadow: 0 0 2px 2px #DFDFDF inset;
}
.gwt-ToggleButton-up-disabled {

}
.gwt-ToggleButton-down-disabled {

}

*.web-protege-laf * .gwt-RichTextArea, .gwt-RichTextArea-readonly {
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    font-size: 12px;
    font-family: tahoma,sans-serif;
    padding: 2px;
    box-shadow: 0 0 3px 1px rgba(240, 240, 240, 1.0) inset;
    line-height: 15px;
    color: #000000;
    font-size: 12px;
    margin: 0;
}


*.note-content * ul {
    margin-left: 5px;
    list-style: disc inside;
}



*.note-content * ol {
    margin-left: 5px;
    list-style: decimal inside;
}

select {
    border: 1px solid silver;
    box-shadow: 0 0 3px 1px #F0F0F0 inset;
    font-size: 12px;
    line-height: 16px;
    padding: 1px;
    font-family: tahoma,arial,sans-serif;
}

.web-protege-highlighted-table-column {
    background: #F3F3FF
}

.web-protege-mapped-table-column {
    font-weight: bold !important;
    background: #EFFFEF;
}

.gwt-MenuBar-vertical {
    border-style: solid;
    border-width: 1px;
    background: white;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    /*background-clip: padding-box;*/
    border: 1px solid #ACACAC;
    border: 1px solid rgba(0, 0, 0, .333);
    padding: 20px;
}

.gwt-MenuItem-selected {
    color: #ffffff;
    background: #0055AA;
}

.gwt-PopupPanel {
    border-style: solid;
    border-width: 1px;
    background: white;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    border: 1px solid #ACACAC;
    border: 1px solid rgba(0, 0, 0, .333);
}

.glass {
    background: #808080;
    opacity: 0.5;
}

.glass-popup-shadow {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .5) !important;
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .5) !important;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5) !important;
}

.progress-popup {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
}

.web-protege-popup-menu {
    border-style: solid;
    border-width: 1px;
    background: white;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
    border: 1px solid #ACACAC;
    border: 1px solid rgba(0, 0, 0, .333);
    margin-top: 5px;
    border-radius: 3px;
}

.web-protege-popup-menu-inner {
    background: #ffffff;
}

.web-protege-popup-menu-item {
    background: none repeat scroll 0 0 #FFFFFF;
    cursor: pointer;
    font-family: Helvetica, Arial, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 15px;
    color: #555555;
    vertical-align: middle;
    line-height: 20px;
    border-radius: 3px;
}

.web-protege-popup-menu-item:hover {
    background: #3875f1;
    color: #ffffff;
}

.button-style {
    background: linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 #CECECE;
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 #CECECE;
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 #CECECE;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 1px;
    padding: 5px 8px;
}

.button-style:hover {
    color: #444444;
    box-shadow: 0 0 2px 1px rgba(150, 150, 150, 0.20);
    border-color: #a7a7a7;
}

.button-style:active {
    color: #444444;
    box-shadow: 0 0 4px 2px rgba(50, 50, 50, 0.2) inset;
    border-color: #a7a7a7;
}

.button-style-red {
    background: linear-gradient(#DD4545, #C80202) repeat scroll 0 0 #b72130;
    background: -webkit-linear-gradient(#DD4545, #C80202) repeat scroll 0 0 #b72130;
    background: -moz-linear-gradient(#DD4545, #C80202) repeat scroll 0 0 #b72130;
    border: 1px solid #b2151e;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 1px;
    padding: 5px 8px;
}

.button-style-red:hover {
    box-shadow: 0 0 2px 1px rgba(150, 150, 150, 0.20);
    border-color: #851418;
}

.button-style-red:active {
    box-shadow: 0 0 4px 2px rgba(50, 50, 50, 0.2) inset;
    border-color: #a7a7a7;
}

[asserted=false] textarea {
    /*background-color: #F4F4FF;*/
    color: #9d3600;

}

.derived-property-value input {
}

.derived-property-value textarea {
}

[disabled] {
    background-color: #F1EDED !important;
}

.error {
    border-bottom: solid #ff0000 2px;
    box-sizing: border-box;
    color: red !important;
}

.non-empty-metric {
    /*font-weight: bold;*/
}

.empty-metric {
    color: #dadada;
}

.web-protege-table-cell {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: silver;
}

.web-protege-table-row {
    padding: 5px;
    font-size: 12px;
}

.postit {
    background:#FEFCDE;
    padding:15px;
    font-family: tahoma, sans-serif;
    font-size: 12px;
    color: #000;
    width:170px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px 2px 2px 2px;
}


.gwt-DialogBox {
    border-style: solid;
    border-width: 1px;
    background: white;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    /*background-clip: padding-box;*/
    border: 1px solid #ACACAC;
    border: 1px solid rgba(0, 0, 0, .333);
    padding: 20px;
    z-index: 5;
}

.gwt-DialogBox .Caption {
    background-color: white;
    color: black;
    cursor: default;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 0 16px;
}

.web-protege-dialog-main-panel {
    font-size: 12px;
    /*outline: 0;*/
    /*position: absolute;*/
}

.web-protege-dialog-label {
    color: #4779be;
    text-align: right;
    font-size: 12px;
}

.web-protege-dialog-button-bar {
    float: right;
    padding-top: 10px;
}

.web-protege-dialog-button-compact {
    border-radius: 2px 2px 2px 2px;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    /*height: 15px;*/
    /*line-height: 15px;*/
    /*margin-left: 0;*/
    /*min-width: 15px;*/
    /*outline: 0 none;*/
    padding: 0;
    text-align: center;
    color: rgba(50, 50, 50, 1.0);

    /*background-color: #F5F5F5;*/
    /*background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);*/
    border: 1px solid rgba(200, 200, 200, 1.0);
    /*color: #444444;*/

    /* IE10 */
    background-image: -ms-linear-gradient(top, #F5F5F5 0%, #CCCCCC 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #F5F5F5 0%, #CCCCCC 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #F5F5F5 0%, #CCCCCC 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F5F5F5), color-stop(1, #CCCCCC));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #F5F5F5 0%, #CCCCCC 100%);

    /* Proposed W3C Markup */
    background-image: linear-gradient(top, #F5F5F5 0%, #CCCCCC 100%);
}

.web-protege-dialog-button-compact:hover {
    border: 1px solid rgba(150, 150, 150, 1.0);
    /*box-shadow: h-shadow v-shadow blur spread color inset;*/
    box-shadow: 0px 0px 2px 1px rgba(20, 20, 20, 0.2);
}

.web-protege-dialog-button-compact:active {
    /*box-shadow: h-shadow v-shadow blur spread color inset;*/
    box-shadow: 0px 0px 1px 2px rgba(220, 220, 220, 1.0) inset;
}


.web-protege-dialog-button {
    border-radius: 3px 3px 3px 3px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    line-height: 27px;
    margin-left: 16px;
    min-width: 54px;
    outline: 0 none;
    padding: 0 8px;
    text-align: center;
    color: rgba(50, 50, 50, 1.0);

    /*background-color: #F5F5F5;*/
    /*background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);*/
    border: 1px solid rgba(200, 200, 200, 1.0);
    /*color: #444444;*/

    /* IE10 */
    background-image: -ms-linear-gradient(top, #F5F5F5 0%, #CCCCCC 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #F5F5F5 0%, #CCCCCC 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #F5F5F5 0%, #CCCCCC 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F5F5F5), color-stop(1, #CCCCCC));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #F5F5F5 0%, #CCCCCC 100%);

    /* Proposed W3C Markup */
    background-image: linear-gradient(top, #F5F5F5 0%, #CCCCCC 100%);
}

.web-protege-dialog-button:hover {
    border: 1px solid rgba(150, 150, 150, 1.0);
    /*box-shadow: h-shadow v-shadow blur spread color inset;*/
    box-shadow: 0px 0px 2px 1px rgba(20, 20, 20, 0.2);
}

.web-protege-dialog-button:active {
    /*box-shadow: h-shadow v-shadow blur spread color inset;*/
    box-shadow: 0px 0px 1px 2px rgba(220, 220, 220, 1.0) inset;
}


.web-protege-label-description {
    color: #b3b3b3;
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
}

.gwt-RadioButton {
    display: block;
    height: 100%;
    vertical-align: middle;
}

.gwt-RadioButton label > div {
    /*display: inline-block;*/
    /*padding-left: 10px;*/
    padding-top: 5px;
    /*padding-bottom: 5px;*/
}

.gwt-RadioButton > label {
    /*display: inline-block;*/
    /*padding-left: 10px;*/
    padding-left: 5px;
    /*padding-bottom: 5px;*/
}


.web-protege-form-layout-editor-group {
    display: block;
}

.web-protege-term-editor {
    border-top: 1px dotted silver;
    padding-top: 10px;
    padding-bottom: 5px;
    clear: both;
}

.web-protege-form-layout-editor-group-form {
    display: inline-block;
    vertical-align: top;
    width: 69%;
    overflow: visible;
}

.web-protege-form-layout-editor-group-sidebar {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    float: right;
}


.web-protege-form-layout-labelled-editor {
    display: block;
    padding-top: 5px;
    overflow: visible;
}

.web-protege-form-layout-label {
    display: inline-block;
    padding-right: 10px;
    text-align: right;
    vertical-align: top;
    width: 15%;
}

.web-protege-form-layout-editor-input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
}



.web-protege-form-layout-editor {
    display: inline-block;
    width: 80%;
    overflow: visible;
}

.web-protege-form-layout-editor table {
    /*border: #ff00ff dashed 1px;*/
    width: 100%;
}
.web-protege-form-layout-editor * table td + td {
    padding-left: 1px;
    padding-top: 1px;
}

.web-protege-term-editor * table td + td {
    padding-left: 1px;
    padding-top: 1px;
}

.web-protege-term-editor * table td {
    padding-left: 1px;
    padding-top: 1px;
}

.web-protege-form-layout-margin {
    margin: 1px;
}

.web-protege-delete-button {
    color: #757575;
    /*width: 3em;*/
    /*font-size: large;*/
    border-color: #ff00ff;
    border-style: solid;
    border-width: 1px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.web-protege-delete-button:hover {
    color: #db0002;
    /*height: 3em;*/
    /*font-size: large;*/
}



.web-protege-drop-down {
    display: inline;
    color: #4779be;
}

.web-protege-drop-down-item {
    background: white;
}

.web-protege-drop-down-item:hover {
    background: #ecf4fd;
}

.web-protege-drop-down-item-selected {
    background: #4779be;
    color: white;
}

.web-protege-drop-down-item-selected:hover {
    background: #4779be;
    color: white;
}

.web-protege-drop-down-item-deselected {

}

.web-protege-drop-down-popup {
    border-style: solid;
    border-width: 1px;
    background: white;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    border: 1px solid #ACACAC;
    border: 1px solid rgba(0, 0, 0, .333);
    font-size: 12px;
}

.web-protege-drop-down-content-holder {
    display: inline;
}

.web-protege-drop-down-button-holder {
    display: inline;
}




/**********************************************************************************
 * SideBar
 **********************************************************************************/

.web-protege-sidebar {
    border: 8px;
    border-bottom: #f1f1f1;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top: #f1f1f1;
    border-top-style: solid;
    border-top-width: 1px;

}


.web-protege-sidebar-item-base {
    height: 40px;
    cursor: pointer;
    /*border-bottom: silver;*/
    /*border-bottom-style: solid;*/
    /*border-bottom-width: 1px;*/


}

.web-protege-sidebar-item-base:hover {
    background: #e8e8e8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.web-protege-sidebar-item-selected {
    /*background: #bec8dc;*/
    color: #757575;
    /*background: #89a5d1;*/
    background: #D7E6FA;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    /*border-left-style: solid;*/
    /*border-left-width: 4px;*/
    /*border-left-color: #4779be;*/

}

.web-protege-sidebar-item-deselected {
    color: #808080;
    background: #ffffff;
    /*border-left-style: solid;*/
    /*border-left-width: 4px;*/
    /*border-left-color: transparent;*/
}

.web-protege-sidebar-item-label {
    width: 100%;
    padding-left: 20px;
    vertical-align: middle;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    position: relative;
}

.web-protege-annotated-radio-button-label {

}


.web-protege-annotated-radio-button-main-label {

}


.web-protege-annotated-radio-button-description-label {
    font-size: 10px;
    color: silver;
}

