<html>
<head>
    <style>
        .main {
            font-family: Helvetica, Arial, sans-serif;
        }
        .footer {
            padding-top: 20px;
            font-size: 10px;
            color: #707070;
            line-height: 1.5;
        }
    </style>
</head>
<body>
<div class="main">
    <div>
        {{{userId}}} has made changes to <a href="{{{entity.url}}}">{{{entity.browserText}}}</a> in the project {{{project.displayName}}}
    </div>
    <div class="footer">
        View these changes on <a href="{{{entity.url}}}">{{application.name}}</a>.<br>
        You you received this email because you are a participant in the project <a href="{{{project.url}}}">{{project.displayName}}</a>.
    </div>
</div>
</body></html>
