.main {
    padding: 20px;
    padding-top: 13px;
}

.form-group {
    padding-bottom: 10px;
}

.form-label {
    color: #000000;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
