@external .wp-*;

/**************************************************
    Styling of discussion threads.  Discussion
    threads are lists of comments.  Each thread
    has a status.
 **************************************************/

.wp-disc-thread {
}

.wp-disc-thread__outer {
    border: 5px solid literal("var(--separator--color)");
}

.wp-disc-thread__inner {
    padding-top:    5px;
    padding-right:  5px;
    padding-left:   5px;
    padding-bottom: 10px;

    box-shadow:     literal("var(--card--box-shadow)");

    overflow:       hidden;
}

.wp-disc-thread__status {
}

.wp-disc-thread__status--open {
    color: #990099;
}

.wp-disc-thread__status--open:hover {
    color: white;
}

.wp-disc-thread__status--closed {
    color: #009900;
}

.wp-disc-thread__status--closed:hover {
    color: white;
}


/**************************************************
    Styling of comments.  Comments can be used in
    discussion threads or elsewhere (e.g. in the
    project feed.  Each comment has an author
    name, a date and a body.  Users mentioned
    in the body of a comment have a particular
    style.
 **************************************************/

.wp-comment {
}

.wp-comment__author-name {
}

.wp-comment__date {
    font-size: 10px;
    color:     literal("var(--tertiary--color)");
}

.wp-comment__body {
    margin-top:  0.3em;
    color:       literal("var(--secondary--color)");
    border:      none;
    line-height: 1.4em;
    overflow:    hidden;
}

.wp-comment__user-mention {
    padding-left:     2px;
    padding-right:    2px;

    font-weight:      500;
    color:            #434b5d;
    background-color: #ffffcc;
}

/* Add some spacing an a line between comments */
.wp-comment+.wp-comment {
    margin-top: 3px;
    border-top: 1px solid literal("var(--separator--color)");
    padding-top: 10px;
}

/**************************************************
    Styling of html elements within a comment
 **************************************************/

.wp-comment__body h1 {
    font-size:     16px;
    font-weight:   bold;
    margin-bottom: 5px;
}

.wp-comment__body h2 {
    font-size:   14px;
    font-weight: bold;
}

.wp-comment__body ul, ol {
    margin: 10px;
    margin-left: 2px;
    padding-left: 20px;
}

.wp-comment__body ul li {
    list-style-type: disc;
}

.wp-comment__body ol li {
    list-style-type: decimal;
}

.wp-comment__body em {
    font-style: italic;
}

.wp-comment__body strong {
    font-weight: bold;
}

.wp-comment__body p + p {
    margin-top: 10px;
}

.wp-comment__body pre {
    margin: 20px;
}

.wp-comment__body code {
    word-wrap: break-word;
}

.wp-comment__body blockquote {
    margin-top:    10px;
    margin-bottom: 10px;

    padding:       5px;

    border-left:   3px solid #d0d0d0;
    color:         #a0a0a0;

}


