@external .wp-*;

.wp-entity-node {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wp-entity-node__display-name--deprecated-entity {
    text-decoration: line-through;
    color: #a0a0a0;
}

.wp-entity-node__display-name {

}

.wp-entity-node__display-name__primary-language {

}

.wp-entity-node__display-name__secondary-language {
    margin-left: 3px;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
    /*color: #909090;*/
}

.wp-entity-node__display-name__no-display-name {
    font-weight: 500;
    white-space: nowrap;
    padding-left: 3px;
    padding-right: 3px;
    pointer-events: auto;
    /*color: #a0a0a0;*/
    cursor: help;
    letter-spacing: 0.1rem;
}