@external .wp-*;
@external .gwt-*;

@url protegeBlenderUrl protegeBlender;
@url protegeCloudUrl protegeCloud;

.wp-login {

}

.wp-login__logo {
    width: 200px; /* 349 */
    height: 160px; /* 267 */
    background-image: protegeCloudUrl;
    background-repeat: no-repeat;
    background-size: contain;
}

.wp-login__form {
    background-color: literal("var(--inlay-panel--alternate-background-color)");
    border: 5px solid literal("var(--alternate--separator--color)");
    width: 230px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 6px;
}

.wp-login__form .gwt-TextBox {
    border: literal("var(--inlay-panel--border)");
}

.wp-login__form .gwt-PasswordTextBox {
    border: literal("var(--inlay-panel--border)");
}

.wp-login__footnote {
    text-align:   center;
    font-size:    10px;
    color: #c0c0c0;
    padding-left: 2px;
    padding-right: 2px;
}

.wp-login__message {
    font-size:      18px;
    text-align:     center;
}

.wp-login__forgot-user-name-or-password {
    padding-top:     20px;
    padding-right:   0;
}