@external .wp-*;

.wp-popup-menu {
    box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
    border: 1px solid literal("var(--alternate--separator--color)");
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 3px;
    box-sizing: border-box;
    min-width: 150px;
}

.wp-popup-menu__inner {
    box-sizing: border-box;
    outline: none;
}

.wp-popup-menu__item {
    background: none repeat scroll 0 0;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 15px;
    color: literal("var(--primary--color)");
    vertical-align: middle;
    line-height: 20px;
    border-radius: 3px;
    box-sizing: border-box;
    white-space: nowrap;
}

.wp-popup-menu__item--disabled {
    color: #e0e0e0;
}

.wp-popup-menu__item--disabled:hover {
    color: #e0e0e0;
}

.wp-popup-menu__separator {
    width: 100%;
    border-bottom: 1px solid literal("var(--alternate--separator--color)");
}

.wp-popup-menu__item--selected {
    background: literal("var(--selected-menu-item--background-color)");
    color: literal("var(--selected-menu-item--color)");
}