@external .wp-*;
@url protegeBlenderUrl protegeBlender;

.wp-modal {
    background-color: literal("var(--primary--background-color)");
    max-width: 600px;
    margin: 20px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.wp-modal__caption {
    background-color: literal("var(--alternate--background-color)");
    background-image: protegeBlenderUrl;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-y: 2px;
    background-position-x: 1px;
    border-bottom: 1px solid literal("var(--alternate--separator--color)");
    padding-left: 35px;
    color: literal("var(--primary--color)");
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    cursor: default;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    min-width: 400px;
    min-height: 1.4em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.wp-modal__content {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.wp-modal__button-bar {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.wp-modal__button-bar button+button {
    margin-left: 5px;
}