@external wp-*;

.wp-tag {
    border-radius: 3px;
    font-weight: 500;
    white-space: nowrap;
    cursor: default;
}

.wp-tag--tag-list-tag {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
}

.wp-tag--inline-tag {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 9px;
    margin-left: 4px;
    pointer-events: auto;
}

.wp-tags-view--tags-hidden {

}

.wp-tags-view--tags-hidden .wp-tag {
    visibility: collapse;
}
