@external .wp-*;

.wp-toolbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    min-height: 2.3em;
    box-sizing: border-box;
    background-color: literal("var(--view-toolbar--background-color)");
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom: 1px solid literal("var(--alternate--separator--color)")
}

.wp-toolbar__btn {
    margin: 1px;
    border: none;
    height: 20px;
    background: transparent;
    cursor: pointer;
    font-weight: 400;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
}

.wp-toolbar__g-btn {
    margin: 1px;
    border: none;
    height: 20px;
    background: literal("var(--primary--background-color)");
    cursor: pointer;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}

.wp-toolbar__btn--highlighted {
    color: dodgerblue;
}

.wp-toolbar__btn:hover:enabled {
    background-color: literal("var(--accent--color)");
    color: #ffffff;
}

.wp-toolbar__btn:active:enabled {
    background-color: #424242;
    color: #ffffff;
}

.wp-toolbar__btn:disabled {
    color: #aaaaaa;
    cursor: default;
}