@external wp-*;

@url protegeBlenderUrl protegeBlender;

.wp-topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: literal("var(--topbar--color)");
    background-color: literal("var(--topbar--background-color)");
    border-bottom: 5px solid literal("var(--alternate--separator-strong--color)");
    padding-top: 1px;
    padding-bottom: 2px;
    height: 6em;
}

.wp-topbar__logo {
    flex-shrink: 0;
    flex-grow: 0;
    background-image: protegeBlenderUrl;
    background-repeat: no-repeat;
    background-size: 21em;
    width: 22em;
    height: 5em;
    margin-left: 15px;
    margin-right: 0.5em
}

.wp-topbar__content {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-grow: 1;
    flex-shrink: 1;
}

.wp-topbar__title {
    font-weight: 300;
    font-size: 1.4em;
}

.wp-topbar__separator {
    width: 1px;
    background: literal("var(--alternate--separator-strong--color)");
}

.wp-topbar__home-icon {
    background-color: literal("var(--top-bar--color)");
}

