@external wp-panel-filled;
@external wp-value-list;
@external wp-value-list__row;
@external wp-value-list__editor;
@external wp-value-list__delete-button;
@external .gwt-SuggestBox, .gwt-TextBox, .gwt-TextArea;

.wp-value-list {
}

.wp-value-list__row {
    border-bottom: 1px solid literal("var(--separator--color)");
}

.wp-panel-filled .wp-value-list__row {
    border-bottom: 1px solid transparent;
}


.wp-value-list__editor {

}

.wp-value-list__delete-button {
    margin-left: 1px;
    margin-right: 2px;
    margin-top: 1px;
}
