@external gwt-TabLayoutPanelTab;
@external gwt-TabLayoutPanelTab-selected;
@external blockquote;
@url classIconUrl svgClassIcon;
@url datatypeIconUrl svgDatatypeIcon;
@url propertyIconUrl svgPropertyIcon;
@url objectPropertyIconUrl svgObjectPropertyIcon;
@url dataPropertyIconUrl svgDataPropertyIcon;
@url annotationPropertyIconUrl svgAnnotationPropertyIcon;
@url individualIconUrl svgIndividualIcon;
@url linkIconUrl svgLinkIcon;
@url iriIconUrl svgIriIcon;
@url literalIconUrl svgLiteralIcon;
@url numberIconUrl svgNumberIcon;
@url commentIconUrl svgCommentSmallFilledIcon;
@url eyeIconUrl eyeIcon;
@url datetimeIconUrl dateTimeIcon;

.webProtegeLaf {

}


.gwt-TabLayoutPanelTab {
    background-color: #c0c0c0;
    padding: 5px;
    margin: 3px;
}

.gwt-TabLayoutPanelTab-selected {
    background-color: #707070;
    color: white !important;
}

.formMain {
    padding: 20px;
    padding-top: 13px;
    box-sizing: border-box;
}

.formMain [derived-property-value] {
    background-color: burlywood;
}

.formMain [disabled] {
    /*background-color: #ffffff !important;*/
}

.formGroup {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.formLabel {
    font-weight: bold;
    padding-bottom: 2px;
}

.formField {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: transparent;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: transparent;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: transparent;
    border-bottom: 1px solid #f0f0f0;
}

.warningLabel {
    border: solid 1px #ffe884;
    background-color: #faf6c3;
    width: auto;
    height: auto;
    vertical-align: top;
    padding: 4px 4px 4px 4px;
    font-size: 10px;
}

.classIconInset {
    background-image: classIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 1px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

.objectPropertyIconInset {
    background-image: objectPropertyIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 1px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

.dataPropertyIconInset {
    background-image: dataPropertyIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 1px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

.annotationPropertyIconInset {
    background-image: annotationPropertyIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 1px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

.datatypeIconInset {
    background-image: datatypeIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 2px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

.commentIconInset {
    background-image: commentIconUrl;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

.literalIconInset {
    background-image: literalIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 2px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

.individualIconInset {
    background-image: individualIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 1px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

.emptyIconInset {
    padding-left: 22px !important;
}


.linkIconInset {
    background-image: linkIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 2px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}
.iriIconInset {
    background-image: iriIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 2px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

.numberIconInset {
    background-image: numberIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 1px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

.dateTimeIconInset {
    background-image: dateTimeIconUrl;
    background-repeat: no-repeat;
    background-position: 2px 1px;
    width: auto;
    height: auto;
    padding-left: 22px !important;
}

.inTrash {
    color: #c0c0c0;
}

.sharingDropDown {
    text-transform: lowercase;
}

.entityIcon {
    color: #007fff;
}


.derivedInformation {
    background-color: #fffaf4;
}

.focusBorder {
    border: 1px solid #0A5EA8;
}

.noFocusBorder {
    border: 1px solid transparent;
}

.errorBorder {
    border: 2px dashed #ff0000 !important;
}

.noErrorBorder {
    border: 2px dashed transparent;
}

.selection {
    background-color: dodgerblue !important;
    color: white !important;
}

.noSelection {
    background-color: white;
}

.errorLabel {
    color: red;
}

.help-text {
    font-size: 11px;
    color: #707070;
    font-weight: 300;
}

.help-text--padding {
    padding-bottom: 10px;
}