    .cellListEvenItem {

    }

    .cellListKeyboardSelectedItem {
    }

    .cellListOddItem {
    }

    .cellListSelectedItem {
        color: literal("var(--selected-item--color)");
        background: literal("var(--selected-item--background-color)");
    }

    .cellListWidget {
        cursor: pointer;
    }