@external .wp-*;
@external .gwt-*;

.wp-settings {

}

.wp-settings__section {
    border-radius: 5px;
    padding: 20px;
    overflow-x: hidden;
}

.wp-settings__section + .wp-settings__section {
    margin-top: 50px;
}

.wp-settings__section__title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.wp-settings__section__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
}

.buttonBar {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 0;
    flex-shrink: 0;
}

.group {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/*.wp-settings__label {*/
    /*font-weight: 500;*/
    /*padding-bottom: 5px;*/
    /*font-size: 14px;*/
/*}*/

/*.wp-settings__label--padding {*/
    /*padding-top: 15px;*/
/*}*/
