:root {
    --selected-item--background-color: #d5e1fa;/* #116cd6; */
    --selected-item--color: inherit;

    --selected-menu-item--background-color: #116cd6;
    --selected-menu-item--color: white;

    --selected-tab--color: #116cd6;

    --topbar--background-color: #f0f0f0;

    --inlay-panel--background-color: #f0f0f0;

    --inlay-panel--border: 1px solid #e0e0e0;

    --inlay-panel--border-radius: 3px;

    --inlay-panel--alternate-background-color: #fafaff;

    --view-toolbar--background-color: #f0f0f0;

    --error--color: #af0002;

    --outline: #94c0ed solid 2px;

    --widgetmap-view-header-font-weight: 400;
    --widgetmap-view-header-padding-left: 3px;

    --gt-tree__row--selected--background-color: var(--selected-item--background-color);
    --gt-tree__row--selected--color: var(--selected-item--color);

    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
}

body, input, textarea, keygen, select, button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #505050;
    font-size: 12px;
}

input, textarea {
    margin: 0;
    border: none;
}

textarea {
    resize: none;
}

a {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

pre {
    margin: 0;
    padding: 0;
}

::-webkit-input-placeholder {
    color: rgba(200, 200, 200, 1.0);
}

::-moz-placeholder {
    color: rgba(200, 200, 200, 1.0);
}

:-moz-placeholder {
    color: rgba(200, 200, 200, 1.0);
}

:focus {
    outline: var(--outline);
    outline-offset: -1px;
}

*.web-protege-no-focus :focus {
    border: none;
}

.gwt-TextBox, textarea, .gwt-PasswordTextBox {
    line-height: 18px;
    background-color: #ffffff;
    padding: 2px;
}

.gwt-SuggestBox, .gwt-SuggestBox [disabled] {
    font-size: 12px;
    padding: 2px;
    line-height: 16px;
    color: #000000;
    background: transparent;
}

.gwt-SuggestBoxPopup {
    font-size: 12px;
    background: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    border: 1px solid #acacac;
    line-height: 15px;
    z-index: 10;
}

.gwt-SuggestBoxPopup .item {
    background: white;
    color: #000000;
}

.gwt-SuggestBoxPopup .item-selected {
    color: var(--selected-menu-item--color);
    background: var(--selected-menu-item--background-color);
}

.gwt-SuggestBoxPopup .item .new-keyword {
    color: #0669eb;
    background: #ffffff;
    font-weight: bold;
}

.gwt-SuggestBoxPopup .item-selected .new-keyword {
    color: var(--selected-menu-item--color);
    background: var(--selected-menu-item--background-color);
    font-weight: bold;
}

.web-protege-entity-match-substring {
    font-weight: bold;
}

* .web-protege-error-label > * a:link {
    text-decoration: underline;
    color: #0055aa;
    padding: 2px;
}

select {
    border: 1px solid silver;
    box-shadow: 0 0 3px 1px #f0f0f0 inset;
    font-size: 12px;
    line-height: 16px;
    padding: 1px;
}

.gwt-MenuBar-vertical {
    background: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    border: 1px solid #acacac;
    padding: 20px;
}

.gwt-MenuItem-selected {
    color: var(--selected-menu-item--color);
    background: var(--selected-menu-item--background-color);
}

.gwt-PopupPanel {
    background: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    border: 1px solid #acacac;
    /** This z-index is needed because our dialogs appear below the text in the codemirror text area without it **/
    z-index: 10;

}

.glass {
    background: #808080;
    opacity: 0.5;
}

.glass-popup-shadow {
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5) !important;
}

.progress-popup {
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
}

[asserted=false] textarea {
    color: #9d3600;
}

.gwt-DialogBox {
    background: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .5);
    border: 1px solid #acacac;
    /** This z-index is needed because our dialogs appear below the text in the codemirror text area without it **/
    z-index: 10;
}

.gwt-DialogBox .dialogTop {
    background-color: #f0f0f0;
    background-image: url(../images/protege-blender.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-y: 2px;
    background-position-x: 1px;
    border-bottom: 1px solid #e0e0e0;
}

.gwt-DialogBox .Caption {
    padding-left: 35px;
    color: #505050;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    cursor: default;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    min-width: 400px;
    min-height: 1.4em;
}

.gwt-DialogBox .dialogMiddleCenter {
    padding: 20px;
}

.gwt-DialogBox .gwt-TextBox {
    border: var(--inlay-panel--border);
}

.gwt-DialogBox .gwt-PasswordTextBox {
    border: var(--inlay-panel--border);
}

.gwt-DialogBox .gwt-TextArea {
    border: var(--inlay-panel--border);
}

.gwt-DialogBox .gwt-SuggestBox {
    border: var(--inlay-panel--border);
}

.gwt-PopupPanelGlass {
    background-color: black;
    opacity: 0.4;
}

.web-protege-dialog-main-panel {
    font-size: 12px;
}

.web-protege-dialog-button-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 20px;
}

.web-protege-dialog-button-bar button+button {
    margin-left: 5px;
}

.gwt-RadioButton {
    display: block;
    height: 100%;
    vertical-align: middle;
}

.gwt-RadioButton label > div {
    padding-top: 5px;
}

.gwt-RadioButton > label {
    padding-left: 5px;
    white-space: nowrap;
}

.web-protege-form-layout-editor table {
    width: 100%;
}

.web-protege-form-layout-editor * table td + td {
    padding-left: 1px;
    padding-top: 1px;
}

.web-protege-term-editor * table td + td {
    padding-left: 1px;
    padding-top: 1px;
}

.web-protege-term-editor * table td {
    padding-left: 1px;
    padding-top: 1px;
}

.web-protege-form-layout-margin {
    margin: 1px;
}

.wp-configuration-error-banner {
    color: #901c28;
    background-color: #f8d7da;
    text-align: center;
    font-size: 13px;
    line-height: 1.1em;
    margin: 2px;
    border: 2px solid #e8b9be;
    border-radius: 4px;
    padding: 4px;
    position: relative;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.cm-s-manchester-syntax span.cm-quantifier {
    color: #c528eb;
    font-weight: bold;
    font-size: 12px;
}

.cm-s-manchester-syntax span.cm-boolean-connective {
    color: #0669eb;
    font-weight: bold;
    font-size: 12px;
}

.cm-s-manchester-syntax span.cm-string {
    font-size: 12px;
}

.CodeMirror pre {
    line-height: 16px;
}

.CodeMirror-focused {
    outline: var(--outline);
}

.ms-axiom-kw {
    font-weight: bold;
    color: #0A5EA8;
}

.section-kw {
    font-weight: bold;
    color: #0A5EA8;
}

.quantifier-kw {
    font-weight: bold;
    color: #B200B2;
}

.connective-kw {
    font-weight: bold;
    color: #00B2B2;
}

.deprecated {
    opacity: 0.5;
    text-decoration: line-through;
}

.highlight {
    font-weight: bold;
    background: #FFEB7F;
}

.iri {
    color: #0000ff;
    text-decoration: underline;
}

.literal {
    color: #a0522d;
}

.l-par {
    padding-right: 2px;
    color: #a9a9a9;
}

.r-par {
    padding-left: 2px;
    color: #a9a9a9;
}

.exp-block {
    display: inline-block;
    vertical-align: top;
}

td {
    font-size: 12px;
    vertical-align: top;
}

.ms-frame {
    margin-bottom: 30px;
    /*border-bottom: 1px solid #f3f3f3;*/
    padding-bottom: 5px;
    font-size: 12px;

}

.ms-frame ul {
    list-style: disc inside;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.ms-frame-subject {
    font-weight: bold;
}

.ms-frame-kw {
    color: #07589f;
    font-weight: bold;
}

.ms-frame-block {
    margin-left: 30px;
}

.ms-section {
    margin-top: 10px;
}

.ms-section-block {
    margin-top: 10px;
    margin-left: 30px;
}

.ms-section-item {
    line-height: 1.3em;
    padding-bottom: 3px;
    padding-top: 3px;
    border-bottom: 1px solid #f4f4f4;
}

.ms-section-item:hover {
    background: #ededed;
}

.ms-section-kw {
    color: #07589f;
    font-weight: bold;
}

.ms-quantifier-kw {
    color: #c600c6;
    font-weight: bold;
}

.cm-quantifier {
    color: #c600c6;
    font-weight: bold;
}

.ms-connective-kw {
    color: cornflowerblue;
    font-weight: bold;
}

.ms-literal {
    color: #bb7200;
}

.ms-expr-block {
    display: inline-block;
    vertical-align: top;
}

.ms-lang-tag {
    color: #a9a9a9;
}

.ms-literal-datatype {
    color: #a9a9a9;
}

.ms-sep {
    color: #a9a9a9;
    display: inline-block;
    vertical-align: bottom;
}

.ms-l-par {
    color: #a9a9a9;
}

.ms-r-par {
    color: #a9a9a9;
    display: inline-block;
    vertical-align: bottom;
}

.ms-img {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #f5f5f5;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.ms-img img {
    max-width: 150px;
}

.ms-ont-id {
    color: #bca7a8;
}

.ms-item-ce {
}

.ms-item-ind {
}

.ms-item-anno {
}

.ms-item-prop {
}

.ms-item-dr {
}

.ms-literal p:only-child {
    display: inline;
    margin: 0;
    padding: 0;
}

.ms-annotations {
    border-left: solid 4px #f1f1f1;
    margin-bottom: 4px;
    margin-left: 22px;
    padding-left: 5px;
    margin-top: 4px;
}

.ms-annotations-block {
    padding-left: 20px;
}

.ms-nested-annotation {
    /*	border-top: 1px dotted #f4f4f4;*/
}

.gwt-CheckBox {
    display: inline-block;
    overflow: hidden;
}

.gwt-CheckBox > label {
    padding-left: 3px;
    white-space: nowrap;
}

/** Animation of Busy Indicator **/

@-webkit-keyframes busy-ind-anim {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes busy-ind-anim {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.busy-indicator {
    position: relative;
    overflow: hidden;
    width: 82px;
    height: 80px;
}

.busy-indicator > div:nth-of-type(1) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.busy-indicator > div:nth-of-type(2) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: -0.4166666666666667s;
    animation-delay: -0.4166666666666667s;
}
.busy-indicator > div:nth-of-type(3) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: -0.33333333333333337s;
    animation-delay: -0.33333333333333337s;
}
.busy-indicator > div:nth-of-type(4) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
}
.busy-indicator > div:nth-of-type(5) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: -0.16666666666666669s;
    animation-delay: -0.16666666666666669s;
}
.busy-indicator > div:nth-of-type(6) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: -0.08333333333333331s;
    animation-delay: -0.08333333333333331s;
}
.busy-indicator > div:nth-of-type(7) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.busy-indicator > div:nth-of-type(8) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: 0.08333333333333337s;
    animation-delay: 0.08333333333333337s;
}
.busy-indicator > div:nth-of-type(9) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: 0.16666666666666663s;
    animation-delay: 0.16666666666666663s;
}
.busy-indicator > div:nth-of-type(10) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
.busy-indicator > div:nth-of-type(11) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: 0.33333333333333337s;
    animation-delay: 0.33333333333333337s;
}
.busy-indicator > div:nth-of-type(12) {
    -webkit-animation: busy-ind-anim 1s linear infinite;
    animation: busy-ind-anim 1s linear infinite;
    -webkit-animation-delay: 0.41666666666666663s;
    animation-delay: 0.41666666666666663s;
}