<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Filters -->

	<filter>
		<filter-name>WebProtegeWebAppFilter</filter-name>
		<filter-class>edu.stanford.bmir.protege.web.server.filter.WebProtegeWebAppFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>WebProtegeWebAppFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<!-- Listener for initializing and disposing WebProtege -->
	
	<listener>
		<listener-class>edu.stanford.bmir.protege.web.server.WebProtegeInitializer</listener-class>
	</listener>


	<!-- WebProtege servlets -->

    <servlet>
		<servlet-name>DispatchService</servlet-name>
		<servlet-class>edu.stanford.bmir.protege.web.server.dispatch.impl.DispatchServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>edu.stanford.bmir.protege.web.server.filedownload.FileDownloadServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AdminServiceImpl</servlet-name>
		<servlet-class>edu.stanford.bmir.protege.web.server.AdminServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ChAOServiceImpl</servlet-name>
		<servlet-class>edu.stanford.bmir.protege.web.server.owlapi.ChAOServiceOWLAPIImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>OntologyServiceImpl</servlet-name>
		<servlet-class>edu.stanford.bmir.protege.web.server.owlapi.OntologyServiceOWLAPIImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ProjectConfigurationServiceImpl</servlet-name>
		<servlet-class>edu.stanford.bmir.protege.web.server.ProjectConfigurationServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AccessPolicyServiceImpl</servlet-name>
		<servlet-class>edu.stanford.bmir.protege.web.server.AccessPolicyServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>OpenIdServiceImpl</servlet-name>
		<servlet-class>edu.stanford.bmir.protege.web.server.OpenIdServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>OpenIdAuthenticationResServlet</servlet-name>
		<servlet-class>edu.stanford.bmir.protege.web.server.openid.OpenIdAuthenticationResponseServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>OpenIdAuthenticationServlet</servlet-name>
		<servlet-class>edu.stanford.bmir.protege.web.server.openid.OpenIdAuthenticationServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AuthenticateServiceImpl</servlet-name>
		<servlet-class>edu.stanford.bmir.protege.web.server.AuthenticateServiceImpl</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>ProjectManagerService</servlet-name>
		<servlet-class>edu.stanford.bmir.protege.web.server.ProjectManagerServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>OBOTextEditorService</servlet-name>
		<servlet-class>edu.stanford.bmir.protege.web.server.OBOTextEditorServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RecaptchaService</servlet-name>
		<servlet-class>edu.stanford.bmir.protege.web.server.RecaptchaServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RevisionManager</servlet-name>
		<servlet-class>edu.stanford.bmir.protege.web.server.RevisionManagerServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BioPortalAPIService</servlet-name>
		<servlet-class>edu.stanford.bmir.protege.web.server.BioPortalAPIServiceImpl</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>RenderingService</servlet-name>
		<servlet-class>edu.stanford.bmir.protege.web.server.RenderingServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ProjectUploadServlet</servlet-name>
		<servlet-class>edu.stanford.bmir.protege.web.server.filesubmission.FileUploadServlet</servlet-class>
	</servlet>

	<!-- Servlet mappings -->

    <servlet-mapping>
		<servlet-name>DispatchService</servlet-name>
		<url-pattern>/webprotege/dispatchservice</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RecaptchaService</servlet-name>
		<url-pattern>/webprotege/recaptchaservice</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ChAOServiceImpl</servlet-name>
		<url-pattern>/webprotege/chao</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>OntologyServiceImpl</servlet-name>
		<url-pattern>/webprotege/ontology</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ProjectConfigurationServiceImpl</servlet-name>
		<url-pattern>/webprotege/projectconfig</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AdminServiceImpl</servlet-name>
		<url-pattern>/webprotege/admin</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>OpenIdServiceImpl</servlet-name>
		<url-pattern>/webprotege/openid</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>OpenIdAuthenticationResServlet</servlet-name>
		<url-pattern>/openidresponse</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>OpenIdAuthenticationServlet</servlet-name>
		<url-pattern>/openidauthservlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AuthenticateServiceImpl</servlet-name>
		<url-pattern>/authenticate/authenticate/authen</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AccessPolicyServiceImpl</servlet-name>
		<url-pattern>/accesspolicy</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ProjectUploadServlet</servlet-name>
		<url-pattern>/webprotege/submitfile</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ProjectManagerService</servlet-name>
		<url-pattern>/webprotege/projectmanager</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>OBOTextEditorService</servlet-name>
		<url-pattern>/webprotege/obotexteditorservice</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RevisionManager</servlet-name>
		<url-pattern>/webprotege/revisionmanager</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BioPortalAPIService</servlet-name>
		<url-pattern>/webprotege/bioportalapi</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>RenderingService</servlet-name>
		<url-pattern>/webprotege/renderingservice</url-pattern>
	</servlet-mapping>


	<!-- Default page to serve -->
	
	<welcome-file-list>
		<welcome-file>WebProtege.jsp</welcome-file>
	</welcome-file-list>


	<!-- Error pages -->
	
	<error-page>
		<exception-type>edu.stanford.bmir.protege.web.server.init.WebProtegeConfigurationException</exception-type>
		<location>/configuration-error.jsp</location>
	</error-page>


	<!-- Security constraints -->
	
	<security-constraint>
		<display-name>excluded</display-name>
		<web-resource-collection>
			<web-resource-name>No Access</web-resource-name>
			<url-pattern>/protege.properties</url-pattern>
		</web-resource-collection>
		<auth-constraint />
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

</web-app>
