<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Filters -->

	<filter>
		<filter-name>WebProtegeWebAppFilter</filter-name>
		<filter-class>edu.stanford.bmir.protege.web.server.filter.WebProtegeWebAppFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>WebProtegeWebAppFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<!-- Listener for initializing and disposing WebProtege -->
	
	<listener>
		<listener-class>edu.stanford.bmir.protege.web.server.WebProtegeServletContextListener</listener-class>
	</listener>

	<!-- Default page to serve -->
	
	<welcome-file-list>
		<welcome-file>WebProtege.jsp</welcome-file>
	</welcome-file-list>


	<!-- Error pages -->
	
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<!--<exception-type>edu.stanford.bmir.protege.web.server.init.WebProtegeConfigurationException</exception-type>-->
		<location>/configuration-error.jsp</location>
	</error-page>


	<!-- Security constraints -->
	
	<security-constraint>
		<display-name>excluded</display-name>
		<web-resource-collection>
			<web-resource-name>No Access</web-resource-name>
			<url-pattern>/protege.properties</url-pattern>
		</web-resource-collection>
		<auth-constraint />
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

</web-app>
